* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #eee;
    text-align: center;
    /* background-image: url("backgroundImage.jpg"); */
    /* background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143)); */
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-position: center; */
    background: #0c0c0c;
}

.bodyContent {
    display: none;
    /* animation: scaleUp 3s;
    animation-timing-function: ease-out; */
}

.wrapper {
    /* background-color: rgb(90, 90, 90, .25); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: relative;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: none;
    /* animation: scaleUp 3s;
    animation-timing-function: ease-out; */

}

.overlay {
    position: absolute;
    width: 45%;
    height: 55%;
    background-color: rgba(0, 0, 0, .5);
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* text-shadow: 3px 3px 7px rgba(0, 0, 0, 1); */
    position: absolute;
    top: 0;
    width: 100%;
}

.location,
.temperature {
    height: 10vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.location {
    margin-top: 1em;
    font-size: 1.15em;
}

.temperature {
    flex-direction: column;
    font-size: 1.35em;
}

.search {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

input,
button {
    display: block;
    padding: 10px 40px;
    text-align: center;
    border: none;
    /* box-shadow: 2px 2px 7px rgba(0, 0, 0, .7); */

}

button {
    margin-top: 30px;
    color: rgb(47, 98, 151);
    font-size: 1.1rem;
    font-weight: 550;
    border-radius: 3px;

}

button:hover {
    background: rgb(47, 98, 151);
    color: white;
    cursor: pointer;
}


#desc {
    font-style: italic;
    font-size: 1.2em;
    letter-spacing: .04em;
    text-transform: capitalize;
}

.clock {
    font-size: 3.5rem;
    /* margin-bottom: 1rem; */
    font-family: 'Cutive Mono', monospace;
    font-weight: 600;
}

.day {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'Cutive Mono', monospace;
    font-weight: 600;
}

#info {
    display: none;
    line-height: 1.6;
    margin-top: 2em;
}

.message {
    max-width: 30%;
    line-height: 1.6;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 2rem;
}


/*
////////////////////////////////////////////////////////////////
*/


.buttonDiv {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background: transparent;
}

label {
    position: relative;
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
    /* animation: scaleDown 1.2s;
    animation-delay: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards; */
}

label .btn {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #1b1b1b;
    border-radius: 50%;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 1),
        inset 0 -2px 5px rgba(0, 0, 0, 1),
        inset 0 2px 2px rgba(255, 255, 255, .5),
        0 0 0 2px #000,
        0 0 0 5px #0c0c0c,
        0 0 0 5.5px #080808;
}

label input[type="checkbox"] {
    -webkit-appearance: none;
}

#power {
    display: none;
}

label .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    color: #0c0c0c;
}

label input[type="checkbox"]:hover~.btn {
    box-shadow: 0 0 0 rgba(0, 0, 0, 1),
        inset 0 -2px 5px rgba(0, 0, 0, 1),
        inset 0 1px 1px rgba(255, 255, 255, .1),
        0 0 0 2px #000,
        0 0 0 5px #0c0c0c,
}

label input[type="checkbox"]:hover~.fa {
    color: #00ffe7;
    text-shadow: 0 0 15px #00a1ff,
        0 0 30px #00a1ff;
}

label input[type="checkbox"]:hover~.fa {
    color: #00ffe7;
}

label input[type="checkbox"]:active~.btn {
    box-shadow: 0 0 0 rgba(0, 0, 0, 1),
        inset 0 -2px 5px rgba(0, 0, 0, 1),
        inset 0 1px 1px rgba(255, 255, 255, .1),
        0 0 0 2px #000,
        0 0 0 5px #0c0c0c,
        0 0 0 5.5px #00a1ff;
}

/* Animations */

@keyframes scaleUp {
    0% {
        transform: scale(0);
        border-radius: 50%;
    }

    90% {
        border-radius: 10%;
    }

    100% {
        border-radius: initial;
        transform: scale(1);
    }
}

@keyframes borderRadius {
    0% {
        border-radius: 50%;
    }

    90% {
        border-radius: 10%;
    }

    100% {
        border-radius: initial;
    }
}





@keyframes scaleDown {
    0% {
        transform: scale(1);
        display: initial;
        opacity: 1
    }

    100% {
        transform: scale(0);
        display: none;
        opacity: 0;
    }
}